<?xml version="1.0"?>
<plugin xmlns="http://www.tibco.com/gi/amp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.tibco.com/gi/amp http://gi.tibco.com/xsd/plugin.xsd" id="com.tibco.cmi.editAgreement" name="Business Connect - editAgreement" version="0.1">

  <requires>
      <plugin id="tibco.uxcore.gui.masterdetail"/>
      <plugin id="tibco.uxcore.gui.matrix"/>
		<plugin id="tibco.uxcore.gui.form"/>
    <plugin id="tibco.uxcore.gui.section"/> 
  </requires>
  
  <resources>
		<script id="EditAgreement_js" path="EditAgreement.js" eval="true"/>
    <xml id="EditAgreement_xml" path="ui/EditAgreement.xml">
			<prereq id="EditAgreement_js"/>
		</xml>
  </resources>
	
	<extension point="com.tibco.cmi.businessAgreements.editAgreement">
      <editAgreement uiId="EditAgreement_xml"/>
  </extension>
	
	<extension-point id="editProtocol">
  </extension-point>
	
	<extension-point id="newProtocol">
  </extension-point>
</plugin>