<plugin xmlns="http://www.tibco.com/gi/amp"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.tibco.com/gi/amp http://gi.tibco.com/xsd/plugin.xsd"
        id="tibco.uxcore.gui.masterdetail"
        name="UX Core MasterDetail"
        version="0.1">

  <requires>
    <plugin id="jsx3.gui.Splitter"/>
  </requires>

  <resources>
    <jss id="jss" path="jss/jss.xml"/>
    <script id="js" path="classes/MasterDetail.js" eval="true">
        <prereq id="jss"/>
    </script>
  </resources>

</plugin>
