*{margin:0px;padding:0px;font-size:12px;color:＃444}
body{background-color:#fff;width:945;margin:auto}
a{cursor:pointer}
h1{
	font-size: 28px;
	font-weight: normal;
	color:#444;
}
h2{
	font-size:18px;
	font-weight:normal;
	color:#444;
}
ul{list-style-type:none;}
ul li{
	padding-left:55px;
	margin-bottom:30px;
}
div.title{
	font-weight:bold;
	font-size:16px;
}
div.header {
  height:56px;
  position:relative;
  padding:15px 0px;
}
div a.openId{
	padding:6px;
}
div a.login{
	position:relative;
	padding-left:21px;
}
div a.login img{
	position:absolute;
	top:0;
	left: -10px;
    clip: rect(auto auto auto 12px);
}
div.main{
	position:relative;
    width:945;
    height:336px;
    background:transparent url("../images/landingbg.png") no-repeat;
    margin-bottom:40px;
}
div.main .start_app{
	position:absolute;
	right:130px;
	top:165px;
	background:transparent url("../images/started.png") no-repeat;
	height: 32px;
    width: 104px;
    display: block;
    text-indent: -5000px;
}
div.introduction{
	background:transparent url("../images/card.png") no-repeat bottom right;
	height: 250px;
	margin-bottom:20px; 
}

div.introduction ul li.orange{
	background:transparent url("../images/orange.png") no-repeat;
}
div.introduction ul li.green{
	background:transparent url("../images/green.png") no-repeat;
}
div.introduction ul li.pink{
	background:transparent url("../images/pink.png") no-repeat;
}
div.introduction ul li dt{
	font-size:18px;
	font-weight:bold;
}
div.introduction ul li dd{
	font-size:18px;
	color:#666;
}

div.footer{
    text-align:center;
    padding:10px 0px;
}
div.footer a{
	padding:4px;
}
div.clear{clear:both}
.error{
	display:none;
	color:red;
}
.login_form .label,.signup_form .label{
	font-size:14px;
	color:#888;
	padding:3px 0px;
}
a.forgot{
	text-decoration:underline;
	float:right;
	color:#06c;
	font-size:14px;
}
.login_form .text{
	display:block;
	height:24px;
	margin-bottom:8px;
	-webkit-border-radius: 4px;
	 width:100%;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #ccc;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
    background:#fff;
}
.login_form .submit{
	background:url("/images/login.png") no-repeat;
	width:104px;
	height:44px;
	padding:0px;
	margin:0px;
	border:none;
	cursor:pointer;
	float:right;
}
.signup_form tr{
	height:32px;
	vertial-align:middle;
}
.signup_form tr td img.error{
	display:none;
}
.signup_form .text{
	height:24px;
	-webkit-border-radius: 4px;
	 width:200px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #ccc;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
    background:#fff;
    margin-left:4px;
}

