<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2001-2009, TIBCO Software Inc.
  ~ Use, modification, and distribution subject to terms of license.
  -->
<data jsxid="jsxroot">
  <record jsxid="id" type="string">jsx3.amp</record>
  <record jsxid="name" type="string">AMP</record>
  <record jsxid="description" type="string">Asynchronous Modular Platform</record>
  <record jsxid="long_description" type="string"/>
  <record jsxid="addin" type="string">jsx3.amp.ADDIN</record>
  <record jsxid="version" type="string">1.0</record>
  <record jsxid="jsxversion" type="string">3.2</record>
  <record jsxid="classpath" type="string">js/:jsx3.amp.*</record>

  <record jsxid="includes" type="array">
    <record type="map">
      <record jsxid="id" type="string">amp.js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">amp.js</record>
    </record>
    

    
    
    
    
    
    
    
    

    

    <record jsxid="0" type="map">
      <record jsxid="load" type="number">1</record>
      <record jsxid="type" type="string">ljss</record>
      <record jsxid="src" type="string">resources/msg.xml</record>
    </record>
  </record>
</data>
