<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.appspot.twitteybot.admin.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UserMainPage</servlet-name>
		<servlet-class>com.appspot.twitteybot.ui.MainPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserMainPage</servlet-name>
		<url-pattern>/pages/main</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StatusManager</servlet-name>
		<servlet-class>com.appspot.twitteybot.ui.StatusManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatusManager</servlet-name>
		<url-pattern>/pages/status</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TwitterAccountManager</servlet-name>
		<servlet-class>com.appspot.twitteybot.ui.TwitterAccountManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwitterAccountManager</servlet-name>
		<url-pattern>/pages/manageTwitterAccount</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Cron</servlet-name>
		<servlet-class>com.appspot.twitteybot.cron.CronServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cron</servlet-name>
		<url-pattern>/cron/status</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TaskQueue</servlet-name>
		<servlet-class>com.appspot.twitteybot.task.TaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskQueue</servlet-name>
		<url-pattern>/task/status</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/pages/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<error-page>
		<error-code>404</error-code>
		<location>/error/notfound.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/exception.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/exception.jsp</location>
	</error-page>


</web-app>
